@use "../../styles/globals/palette" as pal;
@import "../../../node_modules/include-media/dist/include-media";

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
) !default;

.card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba($color: pal.$black, $alpha: 0.75);
  & .card-preview-modal {
    max-width: 35vw;
  }
}

@include media(">=tablet") {
  .modal-wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    & .card-preview-modal {
      max-width: 20vw;
    }
  }
}

@include media("<tablet") {
  .modal-wrapper {
    & .card-preview-modal {
      margin: 0 auto;
    }
  }
}

.card {
  background: pal.$secondary-color;
  border-radius: 19px;
  &.modal {
    z-index: 100;
    width: 60%;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    vertical-align: top;
    &-header {
      justify-content: center;
      vertical-align: top;
      font-size: 0.8em;
      padding: 15px;
      & .title {
        font-size: 1.6em;
      }
      & .card-property-container {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: space-around;
        justify-content: center;
        & .card-details {
          display: flex;
          justify-content: center;
          width: 100%;
          background: pal.$white;
          border: 1px solid #000;
          border-radius: 10px;
          margin: 1rem 0;
          padding: 1rem;
          & .property-item {
            align-items: center;
          }
        }
        & .stats {
          flex-direction: column;
          align-items: center;
          & .card-properties-container {
            flex-direction: column;
            align-items: center;
            & .property-item {
              display: flex;
              flex-direction: row;
              padding: 0;
            }
          }
        }
        & .attributes {
          & .property-item {
            width: 25%;
            text-align: center;
          }
        }
        & .description {
          flex-grow: 1;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

@include media("<tablet") {
  .card.modal {
    width: 90%;
    align-self: center;
  }
}

@include media (">=tablet") {
  .card.modal-header {
    font-size: 1.2em;
  }
}

.about-wrapper {
  width: 100%;
  color: pal.$white;
}
