@use "../styles/globals/palette" as pal;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: pal.$primary-color;
}

.about-me {
  padding: 20px;
  font-weight: 300;
  font-size: 1.5em;
}

.title {
  text-align: center;
  color: pal.$white;
}