@use "../../styles/globals/palette" as pal;
@import "../../../node_modules/include-media/dist/include-media";

$breakpoints: (phone: 320px, tablet: 768px, desktop: 1024px) !default;

.yugi-card {
  cursor: pointer;
  &-modal  {
    cursor: default;
  }
}

.card-preview {
  margin-top: 10px;
}

@include media(">=tablet"){
  .card-preview {
    padding: 10px;
  }
}