@use "../../styles/globals/palette" as pal;
@import "../../../node_modules/include-media/dist/include-media";

$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
) !default;

.navbar {
  background-color: pal.$white;
}

.nav-logo {
  max-width: 8em;
}

.menu {
  list-style: none;
  display: flex;
  flex-flow: row;
  li {
    text-align: center;
    flex: auto;
    &.logo {
      align-self: center;
      width: 80vw;
      padding-left: 50px;
      text-align: left;
    }
  }
}

@include media(">=tablet") {
  .menu {
    display: flex;
    justify-content: center;
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  line-height: 1.5;
  font: 500 1.2rem 'Roboto', sans-serif;
  padding: 0.8em 0.8em;
  &:focus { outline: 1px dotted pal.$blue; }
}

@mixin btn-border-drawing($color: pal.$neutral, $hover: pal.$black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.draw-border {
  @include btn-border-drawing(darken(pal.$blue, 5%), pal.$red, 2px, bottom, right);
}